<!-- INCLUDE simple_header.html -->
<table class="tablebg" cellspacing="1" width="100%">
	<tr>
		<th colspan="2">{VIDEO_TITLE} {L_DM_MC_FROM} {VIDEO_SINGER}</th>
	</tr>
	<tr class="row1">
		<td align="center" valign="top">
			{VIDEO_URL}
		</td>
	</tr>
</table>
<br />
<div align="center">
<script type="text/javascript" language="JavaScript">
<!--
if (window.opener)
document.write('<a href="#" onclick="self.close();">{L_CLOSE_WINDOW}</a>');
//-->
</script>
</div>
<br /><br />
