<script type="text/javascript">
// <![CDATA[
var panels_index = new Array('online-panel', 'related-panel', 'similar-panel');

/**
* Alternate display of subPanels
*
* Based of Prosilver
* file forum_fn.js
* function subPanels()
**/
function subpanels_index(p)
{
	var i, e, t;

	if (typeof(p) == 'string')
	{
		show_panel = p;
	}

	for (i = 0; i < panels_index.length; i++)
	{
		e = document.getElementById(panels_index[i]);
		t = document.getElementById(panels_index[i] + '-tab');

		if (e)
		{
			if (panels_index[i] == show_panel)
			{
				e.style.display = 'block';
				if (t)
				{
					t.className = 'activetab';
				}
			}
			else
			{
				e.style.display = 'none';
				if (t)
				{
					t.className = '';
				}
			}
		}
	}
}
// ]]>
</script>

<div id="tabs" style="margin-top: 10px;">
	<ul>
		<!-- IF S_DISPLAY_ONLINE_LIST -->
		<li class="<!-- IF not S_USER_LOGGED_IN -->activetab<!-- ELSE -->activetab<!-- ENDIF -->" id="online-panel-tab"><a name="online" href="#online-panel-tab" onclick="subpanels_index('online-panel'); return false;"><span>{L_WHO_IS_ONLINE}</span></a></li>
		<!-- ENDIF -->
		<!-- IF S_RELATED_RESULTS -->
		<li class="" id="related-panel-tab"><a name="related" href="#related-panel-tab" onclick="subpanels_index('related-panel'); return false;"><span>{L_RELATED_TOPICS}</span></a></li>
		<!-- ENDIF -->
        <!-- IF .similar -->
		<li class="" id="similar-panel-tab"><a name="similar" href="#similar-panel" onclick="subpanels_index('similar-panel'); return false;"><span>{L_SIMILAR_TOPICS}</span></a></li>
		<!-- ENDIF -->
	</ul>
</div>

<div id="panel-tab" class="panel bg3">
	<div class="inner"><span class="corners-top"><span></span></span>

    <!-- IF S_RELATED_RESULTS -->
    <div id="related-panel" style="display: none;">
    
    <ul class="topiclist">
        <li class="header">
            <dl class="icon">
                <dt>{L_RELATED_TOPICS}</dt>
                <dd class="posts">{L_REPLIES}</dd>
                <dd class="views">{L_VIEWS}</dd>
                <dd class="lastpost"><span>{L_LAST_POST}</span></dd>
            </dl>
        </li>
    </ul>

    <ul class="topiclist forums">
    <!-- BEGIN related -->
    <li class="row bg1<!-- IF related.S_POST_ANNOUNCE --> announce<!-- ENDIF --><!-- IF related.S_POST_STICKY --> sticky<!-- ENDIF --><!-- IF related.S_TOPIC_REPORTED --> reported<!-- ENDIF -->">
        <dl class="icon" style="background-image: url({related.TOPIC_FOLDER_IMG_SRC}); background-repeat: no-repeat;">
            <dt <!-- IF related.TOPIC_ICON_IMG and S_TOPIC_ICONS --> style="background-image: url({T_ICONS_PATH}{related.TOPIC_ICON_IMG}); background-repeat: no-repeat;"<!-- ENDIF -->><!-- IF related.S_UNREAD_TOPIC --><a href="{related.U_NEWEST_POST}">{NEWEST_POST_IMG}</a> <!-- ENDIF --><a class="topictitle" href="{related.U_TOPIC}" title="{related.TOPIC_TITLE} : {related.FORUM}">{related.TOPIC_TITLE}</a>
            <!-- IF related.S_TOPIC_UNAPPROVED --><a href="{related.U_MCP_QUEUE}">{UNAPPROVED_IMG}</a> <!-- ENDIF -->
            <!-- IF related.S_TOPIC_REPORTED --><a href="{related.U_MCP_REPORT}">{REPORTED_IMG}</a><!-- ENDIF --><br />
            <!-- IF related.PAGINATION --><strong class="pagination"><span>{related.PAGINATION}</span></strong><!-- ENDIF -->
            <!-- IF related.ATTACH_ICON_IMG -->{related.ATTACH_ICON_IMG} <!-- ENDIF -->{L_POST_BY_AUTHOR} {related.TOPIC_AUTHOR_FULL} &raquo; {related.FIRST_POST_TIME}
            </dt>
            <dd class="posts">{related.REPLIES} <dfn>{L_REPLIES}</dfn></dd>
            <dd class="views">{related.VIEWS} <dfn>{L_VIEWS}</dfn></dd>
            <dd class="lastpost"><span><dfn>{L_LAST_POST} </dfn>{L_POST_BY_AUTHOR} {related.LAST_POST_AUTHOR_FULL}
                <a href="{related.U_LAST_POST}">{LAST_POST_IMG}</a><br />{related.LAST_POST_TIME}
                <!-- IF related.U_FORUM and not related.S_POST_GLOBAL --><br /><a class="topictitle" href="{related.U_FORUM}" title="{related.FORUM}">{related.FORUM}</a><!-- ENDIF --></span></dd>
        </dl>
    </li>
    <!-- END related -->
    </ul>

    </div>
    <!-- ENDIF -->
    
    <!-- IF .similar -->
    <div id="similar-panel" style="display: none;">
     
        <ul class="topiclist">
          <li class="header">
            <dl class="icon">
              <dt style="width: {$PORTALXL_DD-DT-WIDTH};">
                {L_SIMILAR_TOPICS}
              </dt>
            </dl>
          </li>
        </ul>
        <ul class="topiclist forums">
          <li class="row bg1">
            <dl class="icon">
              <dd style="width: {$PORTALXL_DD-DT-WIDTH};">
            
              <table width="100%">
              <tr>
                  <!-- BEGIN similar -->
                  <td valign="top">
                      <a href="{similar.U_TOPIC}" class="topictitle">{similar.TOPIC_TITLE}</a><br />
                      {L_FORUM}: <a href="{similar.U_FORUM}">{similar.FORUM}</a><br />
                      {L_AUTHOR}: {similar.USER}<br />
                      {L_REPLIES}: {similar.REPLIES}<br />
                  </td>
                  <!-- END similar -->
              </tr>
              </table>
            
              </dd>
            </dl>
          </li>
        </ul>

    </div>
    <!-- ENDIF -->
    
    <!-- IF S_DISPLAY_ONLINE_LIST -->
    <div id="online-panel">
    
    <h3><!-- IF U_VIEWONLINE --><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a><!-- ELSE -->{L_WHO_IS_ONLINE}<!-- ENDIF --></h3>
    <p>{LOGGED_IN_USER_LIST}</p>

    </div>
    <!-- ENDIF -->

	<span class="corners-bottom"><span></span></span></div>
</div>
<div class="clear"></div>
