<!-- DEFINE $PORTALXL = 'portal' -->
<!-- INCLUDE overall_header.html -->

<h2>{L_REFERER_TITLE}</h2>
   
<div class="clear"></div>
<br />
<div class="forumbg forumbg-table">
   <div class="inner"><span class="corners-top"><span></span></span>

<table class="table1" cellspacing="1">
<thead>
    <tr>
     <th class="table1" style="text-align:center;">{L_REFERER_IP}</th>
     <!-- IF referers.HTTP_PROXY -->
     <th class="table1" style="text-align:center;">{L_REFERER_PROXY}</th>
     <!-- ENDIF -->
     <th class="table1" style="text-align:center;">{L_REFERER_HOST}</th>
     <th class="table1" style="text-align:center;">{L_REFERER_LASTVISIT}</th>
     <th class="table1" style="text-align:center;">{L_REFERER_HITS}</th>
     <th class="table1" style="text-align:center;">{L_REFERER_HTTP_HOST}</th>
    </tr>
</thead>
<tbody>
<!-- IF .referers -->

    <!-- BEGIN referers -->
    <tr class="<!-- IF referers.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
        <td style="text-align:center;">{referers.HTTP_IP}</td>
      <!-- IF referers.HTTP_PROXY -->
       <td style="text-align:center;">{referers.HTTP_PROXY}</td>
     <!-- ENDIF -->
        <td style="text-align:center;">{referers.HTTP_HOST}</td>
        <td style="text-align:center;">{referers.HHTP_LASTVISIT}</td>
        <td style="text-align:center;">{referers.HHTP_HITS}</td>
        <td style="text-align:center;"><a href="{referers.U_HTTP_HOST}">{referers.HTTP_IP}</a></td>
    </tr>
    <!-- END referers -->
</tbody>
</table>
   <span class="corners-bottom"><span></span></span></div>
</div>

<!-- ELSE -->
   </tbody>
</table>
   <span class="corners-bottom"><span></span></span></div>
</div>

<div class="errorbox">
   <br />
      <p><strong>{L_NO_REFERER}</strong></p>
   <br />
</div>
<br />
<!-- ENDIF -->

<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td style="text-align:right;">

<!-- IF S_NUM_POSTS > 1 or PREVIOUS_PAGE -->
	<form id="portal_referers" method="post" action="{S_TOPIC_ACTION}">
	<fieldset class="display-options" style="margin-top: 0; ">
		<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_PREVIOUS}</a><!-- ENDIF -->
		<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" class="right-box {S_CONTENT_FLOW_END}">{L_NEXT}</a><!-- ENDIF -->
	</fieldset>
	</form>
	<hr />
<!-- ENDIF -->

<!-- IF PAGINATION -->
<div class="pagination" style="margin: 0px 0px 5px 0px;">
 [ {TOTAL_REFERERS} ]
<!-- IF PAGE_NUMBER --><!-- IF PAGINATION --><a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE -->{PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
</div>
<!-- ENDIF -->
    
    </td>
  </tr>
</table>
    
<div align="{S_CONTENT_FLOW_END}"><!-- INCLUDE jumpbox.html --></div>	
<!-- INCLUDE overall_footer.html -->
