<!-- BEGIN imageblock -->
<table class="tablebg" cellspacing="1" width="100%">
  <tr>
      <th align="center" colspan="{S_COLS}" nowrap="nowrap"><!-- IF imageblock.U_BLOCK --><a href="{imageblock.U_BLOCK}"><h4>{imageblock.BLOCK_NAME}</h4></a><!-- ELSE --><h4>{imageblock.BLOCK_NAME}</h4><!-- ENDIF --></th>
  </tr>
  <!-- BEGIN imagerow -->
  <tr>
      <!-- BEGIN image -->
      <td class="row2 rounded" valign="top" style="width: {S_COL_WIDTH};">
          <table width="100%" cellpadding="2" cellspacing="5" border="0" class="forumline">
              <tr>
                  <td align="center" style="height: {S_THUMBNAIL_SIZE}px;" class="row1 rounded">
                      <span class="genmed">{imageblock.imagerow.image.UC_THUMBNAIL}</span>
                  </td>
              </tr>
              <tr>
                  <td class="row2 rounded" valign="top">
                      <div class="gensmall" style="overflow: hidden;">
                          <!-- IF imageblock.imagerow.image.CONTEST_RANK -->{L_CONTEST_RESULT}: <strong>{imageblock.imagerow.image.CONTEST_RANK}</strong><br /><!-- ENDIF -->
                          <!-- IF imageblock.imagerow.image.UC_IMAGE_NAME -->{L_IMAGE_NAME}: {imageblock.imagerow.image.UC_IMAGE_NAME}<br /><!-- ENDIF -->
                          <!-- IF imageblock.imagerow.image.U_ALBUM -->{L_ALBUM_NAME}: <a href="{imageblock.imagerow.image.U_ALBUM}" style="font-weight: bold;" title="{imageblock.imagerow.image.ALBUM_NAME_FULL}">{imageblock.imagerow.image.ALBUM_NAME}</a><br /><!-- ENDIF -->
                          <!-- IF imageblock.imagerow.image.POSTER -->{L_UPLOADED_BY_USER}: {imageblock.imagerow.image.POSTER}<br /><!-- ENDIF -->
                          <!-- IF imageblock.imagerow.image.TIME -->{L_UPLOADED_ON_DATE}: {imageblock.imagerow.image.TIME}<br /><!-- ENDIF -->
                          <!-- IF imageblock.imagerow.image.VIEW > -1 -->{L_VIEWS}: {imageblock.imagerow.image.VIEW}<br /><!-- ENDIF -->
                          <!-- IF imageblock.imagerow.image.S_RATINGS -->{L_RATING}: <a href="{imageblock.imagerow.image.U_RATINGS}">{imageblock.imagerow.image.S_RATINGS}</a><br /><!-- ENDIF -->
                          <!-- IF imageblock.imagerow.image.S_COMMENTS -->{imageblock.imagerow.image.L_COMMENTS}: <a href="{imageblock.imagerow.image.U_COMMENTS}">{imageblock.imagerow.image.S_COMMENTS}</a><br /><!-- ENDIF -->
                          <!-- IF imageblock.imagerow.image.S_IP -->{L_IP}: {imageblock.imagerow.image.S_IP} &#187; <a href="{imageblock.imagerow.image.U_WHOIS}" onclick="popup(this.href, 750, 500); return false;">{L_WHOIS}</a><br /><!-- ENDIF -->
                          <!-- IF imageblock.imagerow.image.U_REPORT or imageblock.imagerow.image.U_STATUS or imageblock.imagerow.image.U_MOVE or  imageblock.imagerow.image.U_EDIT or imageblock.imagerow.image.U_DELETE -->
                          <a href="javascript: dE('moderate_imageblock_{imageblock.S_ROW_COUNT}_imagerow_{imageblock.imagerow.image.IMAGE_ID}');">{L_MODERATE}</a>
                          <div id="moderate_imageblock_{imageblock.S_ROW_COUNT}_imagerow_{imageblock.imagerow.image.IMAGE_ID}" style="display: none;">
                              <!-- IF imageblock.imagerow.image.U_REPORT -->&#187; <a href="{imageblock.imagerow.image.U_REPORT}" class="reported-images-number">{L_READ_REPORT}</a><br /><!-- ENDIF -->
                              <!-- IF imageblock.imagerow.image.U_STATUS -->&#187; <a href="{imageblock.imagerow.image.U_STATUS}">{imageblock.imagerow.image.L_STATUS}</a><br /><!-- ENDIF -->
                              <!-- IF imageblock.imagerow.image.U_MOVE -->&#187; <a href="{imageblock.imagerow.image.U_MOVE}">{L_MOVE}</a><br /><!-- ENDIF -->
                              <!-- IF imageblock.imagerow.image.U_EDIT -->&#187; <a href="{imageblock.imagerow.image.U_EDIT}">{L_EDIT_IMAGE}</a><br /><!-- ENDIF -->
                              <!-- IF imageblock.imagerow.image.U_DELETE -->&#187; <a href="{imageblock.imagerow.image.U_DELETE}">{L_DELETE_IMAGE}</a><br /><!-- ENDIF -->
                          </div>
                          <!-- ENDIF -->
                      </div>
                  </td>
              </tr>
          </table>
      </td>
      <!-- END image -->
      <!-- BEGIN no_image --> 
          <td class="row2" valign="top" style="width: {S_COL_WIDTH};">
              <table width="100%" cellpadding="2" cellspacing="10" border="0" class="forumline"><tr>
              <td style="height: {S_THUMBNAIL_SIZE}px;" class="row1">{L_NO_PICS}</td>
              </tr></table>
          </td> 
      <!-- END no_image -->
  </tr>
  <!-- END imagerow -->
</table>
<br clear="all" />
<!-- END imageblock -->

<!-- IF TOTAL_IMAGES -->
<div><h4>{L_STATISTICS}</h4></div>
	<div><span class="gensmall">{TOTAL_IMAGES} &bull; {TOTAL_COMMENTS}<!-- IF TOTAL_PGALLERIES --> &bull; {TOTAL_PGALLERIES}<!-- IF NEWEST_PGALLERIES --> &bull; {NEWEST_PGALLERIES}<!-- ENDIF --><!-- ENDIF --></span></div>
<!-- ENDIF -->
<br clear="all" />
<div align="center"><span class="gensmall">[ <a href="{U_GALLERY_MOD}" title="{L_GALLERY}" target="_self">{L_GALLERY}</a> ]</span></div>