<table class="tablebg" cellspacing="1" width="100%" style="margin-top: 5px;">
  <!-- BEGIN no_pics -->
  <tr>
    <td class="row1" align="center" colspan="{S_COLS}" height="50"><span class="gen">{L_NO_PICS}</span></td>
  </tr>
  <!-- END no_pics -->
  <tr>
    <td class="bg2 rounded" valign="top">
    
		   <marquee behavior="scroll" height="210" scrolldelay="100" scrollamount="3" OnMouseOver="this.stop()" OnMouseOut="this.start()">
            <table width="100%" cellpadding="2" cellspacing="5" border="0" class="forumline">
                <tr>
                <!-- BEGIN image_random_scroll_col -->
                    <td class="bg1 rounded" align="center" style="height: {S_THUMBNAIL_SIZE}px; overflow: hidden; padding: 5px;">
                     <span class="genmed"><a href="{image_random_scroll_col.U_PIC}">{image_random_scroll_col.THUMBNAIL}</a></span>
                    </td>
                <!-- END image_random_scroll_col -->
                </tr>
                <tr>
                <!-- BEGIN image_random_scroll_col -->
                    <td class="bg2 rounded" valign="top">
                     <div class="gensmall" style="overflow: hidden; padding:5px;">
                     {image_random_scroll_col.POSTER}
                     </div>
                    </td>
                <!-- END image_random_scroll_col -->
              </tr>
            </table>
            </marquee>

      </td>
  </tr>
  <tr>
	<td colspan="{S_COLS}" class="cat" align="center"><span class="gensmall">[ <a href="{U_GALLERY_MOD}" title="{L_GALLERY}" target="_self">{L_GALLERY}</a> ]</span></td>
  </tr>
</table>
