<!-- IF S_CHARTS -->
<table class="tablebg" cellspacing="1" width="100%">
<!--<tr>
	<th colspan="1">{L_DM_MC_PORTAL_HEADER}</td>
</tr>-->
<!-- BEGIN current_charts -->
	<!-- IF current_charts.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
		<td>&nbsp;<b>{current_charts.TITLE}</b> {L_DM_MC_FROM} <b>{current_charts.ARTIST}</b></td>
		<td colspan="2">{L_DM_MC_PORTAL_POSTER} {current_charts.POST_AUTHOR_FULL}</td>
	</tr>
	<!-- BEGINELSE -->
	<tr>
		<td class="row1" colspan="<!-- IF S_CLEAR_ALLOWED -->9<!-- ELSE -->8<!-- ENDIF -->" align="center"><span class="gen">{L_DM_MC_NO_CHARTS}</span></td>
	</tr>
<!-- END current_charts -->
	<tr>
		<td class="row3" colspan="3" align="center" height="30px"><span class="genmed"><b><a href="{U_GO_CHARTS}">{L_DM_MC_PORTAL_GOTO}</a></b><br /></span></td>
	</tr>
</table>
<!-- ENDIF -->
