<style type='text/css'>
.marquee {
	position: relative; 
	height: 25px; 
	text-align: center;
}
.marquee-container {
	position: absolute; 
	width: 100%;
	z-index: 100;
}
</style>

<table class="tablebg" cellspacing="1" width="100%">
<!--  <tr>
    <th colspan="1">{L_SCROLL_MESSAGE}</th>
  </tr>-->
  <tr>
    <td align="center" class="row1">
                		
    <div class="marquee">
      <div class="marquee-container">
      
      <!-- BEGIN scrollmessage -->
        <span style="font-size:{scrollmessage.SCROLL_MESSAGE_MARQUEE_FONTSIZE}px; color:{scrollmessage.SCROLL_MESSAGE_MARQUEE_FONTCOLOR};">
        <marquee name="{scrollmessage.L_SCROLL_MESSAGE}" direction="{scrollmessage.SCROLL_MESSAGE_MARQUEE_DIRECTION}" scrolldelay="{scrollmessage.SCROLL_MESSAGE_MARQUEE_SCROLLDELAY}" scrollAmount="{scrollmessage.SCROLL_MESSAGE_MARQUEE_SPEED}" behavior="{scrollmessage.SCROLL_MESSAGE_MARQUEE_BEHAVIOR}" align="{scrollmessage.SCROLL_MESSAGE_MARQUEE_ALIGN}" width="{scrollmessage.SCROLL_MESSAGE_MARQUEE_WIDTH}" loop="{scrollmessage.SCROLL_MESSAGE_MARQUEE_LOOP}" OnMouseOver="this.stop()" OnMouseOut="this.start()">{scrollmessage.SCROLL_MESSAGE_TEXT}</marquee>
        </span>
      <!-- END scrollmessage -->
        
      </div> 
    </div>
			
     </td>
</table>
