<table class="tablebg" cellspacing="1" width="100%" style="margin-top: 5px;">
  <tr>
    <td align="center" valign="top" class="bg1 rounded">

		<marquee behavior="scroll" direction="up" height="200" scrolldelay="100" scrollamount="3" OnMouseOver="this.stop()" OnMouseOut="this.start()">
          <!-- BEGIN image_random_scroll_col -->
                  <table width="100%" cellpadding="2" cellspacing="5" border="0" class="forumline">
                    <tr>
                    <td class="bg1 rounded" align="center" style="height: {S_THUMBNAIL_SIZE}px; overflow: hidden; padding: 5px;">
                      <a href="{image_random_scroll_col.U_PIC}">{image_random_scroll_col.THUMBNAIL}</a>
                      </td>
                    </tr>
                    <tr>
                        <td class="bg2 rounded" valign="top">
                         <div class="gensmall" style="overflow: hidden; padding:5px;">
                         {image_random_scroll_col.POSTER}
                         </div>
                        </td>
                  </tr>
                 </table>
          <!-- END image_random_scroll_col -->
		</marquee>

      </td>
  </tr>
  <!-- BEGIN no_pics -->
  <tr>
    <td align="center" class="row1"><strong>{L_NO_IMAGES_LONG}</strong></td>
  </tr>
  <!-- END no_pics -->
  <tr>
    <td align="center" class="row1"><span class="gensmall">[ <a href="{U_GALLERY_MOD}" title="{L_GALLERY}" target="_self">{L_GALLERY}</a> ]</span></td>
  </tr>
</table>
